/* footer.css */
.site-footer {
    background-color: #333333;
    color: #fff;
    border-radius: 10px;
    margin-top: 40px;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-newsletter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-newsletter h3 {
    font-size: 0.95rem;
    color: #EDEDED;
    font-weight: 400;
    margin-bottom: 0.1rem;
}

.footer-nav {
    display: flex;
    gap: 1rem;
}

.nav-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #EDEDED;
}

.footer-nav h5 {
    color: #EDEDED;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.nav-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-column ul li {
    margin: 0;
}

.nav-column ul li a {
    color: #EDEDED;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.nav-column ul li a:hover {
    text-decoration: underline;
}

.newsletter-form input[type="email"] {
    padding: 12px 20px;
    color: #AAAAAA;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    width: 344px;
}

.social-networks {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 16px;
    flex-direction: column;
}

.social-networks ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0;
}
.social-networks ul li a img {
    width: 24px;
    height: 24px;
}

.social-networks ul li a img:hover {
    filter: brightness(0.8);
}

.footer-bottom {
    background-color: #222222;
    color: #EDEDED;
    text-align: center;
    padding: 20px 0;
    font-size: 0.875rem;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 768px){
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 2rem 1rem;
    }

    .newsletter-form input[type="email"] {
        width: 100%;
        max-width: 344px;
    }

    .social-networks {
        flex-direction: column;
        justify-content: center;

    }
}

